
.footer {
  background-color: #222; /* Fondo oscuro para contraste */
  color: white;
  padding: 2rem 1rem;
  font-family: "Roboto", sans-serif;
}


.footer-container {
  background-color: rgb(212, 211, 211);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: auto;
  gap: 2rem;
}


.footer-brand {
  flex: 1;
  min-width: 12.5rem;
}

.footer-logo {
  width: 3.75rem;
  height: auto;
  margin-bottom: 0.5rem;
}


.footer-links {
  flex: 1;
  min-width: 12.5rem;
}

.footer-links a {
  display: block;
  color: #000000;
  text-decoration: none;
  margin: 0.3rem 0;
}

.footer-links a:hover {
  color: #fff;
}


.footer-social {
  flex: 1;
  min-width: 12.5rem;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
}


@media (max-width: 48rem) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-social img {
    margin-bottom: 0.5rem;
  }
}

